<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="w-75 bg-white d-flex flex-column align-items-stretch">
            <h1 class="text-secondary font-weight-bold border-bottom border-secondary d-flex justify-content-center pb-1"><p class="mb-0 type-writer text-center mt-0">TODO App</p></h1>
            <div class="form">
                <form method="post">
                    <div class="task border-bottom border-secondary text-secondary">
                        <label for="task" class="mb-0 ml-3 mt-1 font-weight-bold">DESCRIPTION</label>
                        <input type="text" name="task" id="task" placeholder="What you need to do?" class="border-0 d-block p-0 ml-3 mb-3 outline" required>
                    </div>
                    <div class="category-date w-90 row border-bottom border-secondary text-secondary">
                        <div class="category col">
                            <label for="category" class="ml-3 font-weight-bold">CATEGORY</label>
                            <select name="category" id="category" class="d-block border-0 ml-3 outline" required>
                                <option value="Choose a category" selected disabled>Choose a category</option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="School">School</option>
                                <option value="Cleaning">Cleaning</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="date col border-left border-secondary">
                            <label for="date" class="font-weight-bold ml-3">DUE DATE</label>
                            <input type="date" name="date" id="date" class="d-block border-0 outline ml-3" required>
                        </div>
                    </div>
                    <div class="buttons d-flex justify-content-center flex-wrap pt-4 pb-4">
                        <button type="button" id='add' class="btn btn-dark btn-lg pl-0 mr-2"><i class="fa fa-plus mr-3 ml-2"></i>ADD TASK</button>
                        <button type="button" id='delete' class="btn btn-danger btn-lg pl-0"><i class="fa fa-trash mr-3 ml-2"></i>DELETE TASKS</button>
                    </div>
                    <div class="d-flex flex-column text-secondary">
                        <% var a = 1 %> 
                        <% for(i of todolist) { %>
                            <div class="display w-75 align-self-center border-top border-secondary d-flex row">
                                <input type="checkbox" name="<%= i.task %>" value="<%= i.task %>" id='val<%= a %>' class="mt-4 col-1">
                                <label for="val<%= a %>" class="ml-3 col-6">
                                    <p class="mb-0 mt-2 font-weight-bold"><%= i.task %> </p>
                                    <p class="small"><i class="fa fa-calendar-alt mr-2"></i><%= i.dueDate %> </p>
                                </label>
                                <div class="button col d-flex justify-content-end align-content-center">
                                    <% var color; %>
                                        <% if(i.category == 'Personal'){ %>
                                            <% color = 'info'; %>
                                        <% } else if(i.category == 'Work'){ %>
                                                <% color = 'primary'; %>
                                        <% } else if(i.category == 'School'){ %>
                                                <% color = 'warning'; %>
                                        <% } else if(i.category == 'Cleaning'){ %>
                                                <% color = 'success' %>  
                                        <% }else{ %>
                                                <% color = 'dark'; %>
                                        <% } %>
                                    <button type="button" class="btn btn-<%=color%>  align-self-center">
                                        <%= i.category %> 
                                    </button>
                                </div>
                            </div>
                            <% a++ %> 
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/bootstrap-4.0.0/dist/css/bootstrap.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>